---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time> &#8226; <span class="post-meta__tags tags">{{page.tags | join:' '}}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>

{% include read-more.html %}
{% include comments.html %}

<!-- Gitalk 评论 start  --> 
<!-- Link Gitalk 的支持文件  --> 
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css"> 
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div> 
<script type="text/javascript">
    var gitalk = new Gitalk({
    	id: '{{ page.title }}',
	    clientID: 'c10a240ff9c342206b7e',
	    clientSecret: '368e04a16d83c20ba308b2c5eabee5d87f061390',
	    repo: '1210958801.github.io',
	    owner: '1210958801',
	    admin: ['1210958801'], 
		labels: ['Gitalk'],
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->